

<%= form_with(model: @meeting) do |form| %>
  <% if @meeting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% @meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%# commandeId = session[:commandeId] %>
  
  <div class="card-body bloc-record">
    <div class="input-group mb-1">
      <%= form.label :nom, class:"input-group-text label-with-format" %>
      <%= form.text_field :name, class:"form-control field-with-format" %>
    </div>

    <div class="input-group mb-1">
      <%= form.label :commande, class:"input-group-text label-with-format" %>
      <%= form.select :commande_id, Commande.all.collect { |c| [ c.nom, c.id ]}, 
            {class: 'form-control', include_blank: true} %>
    </div>

 <%# <div data-controller="form-element"> %>
     <%#= form.button "Validate", formaction: new_meeting_path, formmethod: :get,
           data: { turbo_frame: :content_field, form_element_target: "submitbtn" } %> 


 
<%#= turbo_frame_tag :content_field do %>
    <%# afficher client que si commande empty %>
    <%= @meeting.commande_id? %>
    <% if @meeting.commande_id.nil? %>
      <div class="input-group mb-1">
        <%= form.label :client, class:"input-group-text label-with-format" %>
        <%= form.select :client_id, Client.all.collect { |c| [ c.nom, c.id ]}, 
              {class: 'form-control', include_blank: true, selected: session[:clientId]} %>
      </div>
    <% end %>
<%# end %>


    <div class="input-group mb-1">
      <%= form.label :début, class:"input-group-text label-with-format" %>
      <%= form.datetime_field :start_time, class:"form-control field-with-format" %>

    <%= form.label :fin, class:"input-group-text label-with-format" %>
    <%= form.datetime_field :end_time, class:"form-control field-with-format" %>
  </div>
    
    <div class="float-end mt-2 mb-4">
      <%= link_to "Fermer", "", data:{turbo_frame: "modal"}, 
          class:"btn btn-sm btn-secondary" %>
      <%= form.submit "Valider", class: "btn btn-primary btn-sm" %>
    </div><br><br>
 
 

<% end %>
