<p style="color: green"><%= notice %></p>

<h1>Meetings</h1>

<div id="meetings">
  <% @meetings.each do |meeting| %>
    <%= render meeting %>
    <p>
      <%= link_to "Show this meeting", meeting %>
    </p>
  <% end %>
</div>

<%= link_to "New meeting", new_meeting_path %>

<hr>  

<div class="bloc-record text-dark text-center"> 

  <%= month_calendar(events: @meetings_periode) do |date, meetings| %>
    <div class="day text-dark">
      <%= date.day %>
    </div>
    <% meetings.each do |meeting| %>
      <div class="class card-header">
        <%= link_to meeting.name, meeting, class:"text-primary" %>
      </div>
    <% end %>
  <% end %>

</div>