<%= form_with(model: messagemail) do |form| %>
  <% if messagemail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(messagemail.errors.count, "error") %> prohibited this messagemail from being saved:</h2>

      <ul>
        <% messagemail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% client = Client.find(params[:clientId]).full_name %>

  <% adressemail = Client.find(params[:clientId]).mail %>
  <% sujetmail = "test sujet mail #{client}" %>
  <% bodymail = "test body mail #{client}" %>

    <div class="card-body bloc-record">

      <div class="input-group mb-1">
        <%= form.label :mail, class:"input-group-text label-with-format" %>
        <%= form.text_field :mail, value: adressemail, class:"form-control field-with-format" %>
      </div>
      
      <div class="input-group mb-1">
        <%= form.label :titre, class:"input-group-text label-with-format" %>
        <%= form.text_field :titre, value: sujetmail, class:"form-control field-with-format" %>
      </div>
      
      <div class="input-group mb-1">
        <%= form.label :body, class:"input-group-text label-with-format" %>
        <%= form.text_area :body, value: bodymail, class:"form-control field-with-format-large" %>
      </div>

        <%#= form.label :commande_id, class:"input-group-text label-with-format" %>
        <%= form.hidden_field :commande_id, class:"form-control field-with-format" %>

        <%#= form.label :client_id, class:"input-group-text label-with-format" %>
        <%= form.hidden_field :client_id, value: params[:clientId], class:"form-control field-with-format" %>

      <br>

      <%# valider et envoyer directement le mail 
        code dans controller ?
      %>
      
      <div class="text-end">
        <%= form.submit 'Envoyer le mail', class: "btn btn-success btn-sm fw-bold"  %>
      </div>

    </div>


<% end %>
