<div id="<%= dom_id messagemail %>">
  <p>
    <strong>Titre:</strong>
    <%= messagemail.titre %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= messagemail.body %>
  </p>

  <p>
    <strong>Commande:</strong>
    <%= messagemail.commande_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= messagemail.client_id %>
  </p>

</div>
