<div id="<%= dom_id article %>">


  <p>
    <strong>Quantite:</strong>
    <%= article.quantite %>
  </p>

  <p>
    <strong>Commande:</strong>
    <%= article.commande_id %>
  </p>

  <p>
    <strong>Produit:</strong>
    <%= article.produit_id %>
  </p>

  <p>
    <strong>prix:</strong>
    <%= article.prix %>
  </p>

  <p>
    <strong>total:</strong>
    <%= article.total %>
  </p>

</div>
