
<div class="card-header bg-dark text-center p-1">
  <strong>Sélection</strong> 
</div>

  <div class="card-body p-0 m-0">
   <div class="table-responsive m-0 p-0">

    <table class="table table-light table-striped table-bordered table-hover">
        <thead class="table-dark">
        <tr>
          <th class="text-center">#</th>
          <th>Image</th>
          <th>Nom</th>
          <th>Dispo</th>
          <th style="width:10px" class="text-center"> Actions</th>
        </tr>
      </thead>
      <tbody class="fs-6">
        <% @produits.each do | produit | %>
          <tr>
            <td class="text-center"> <%= produit.id %> </td>
            <td> 
              <%= image_tag(produit.default_image, style: "width: 50px; display: block", 
                class: "img-fluid rounded") %>
            </td> 
            <td> <%= produit.nom %> </td>
            
            <td> 

              <% initial = Produit.find(produit.id).quantite %> 
              <% ventes = Article.produit_courant(produit.id).articlesVendus.compte_articles %> 
              <% louesAvenir = Commande.a_venir.joins(:articles).merge(Article.produit_courant(produit.id).articlesLoues).sum(:quantite) %> 
              <%= dispo = initial.to_i - ventes.to_i - louesAvenir.to_i %> 
              
            </td>

             <%#= link_to '', toggle_selectProduit_article_path(produit), class:"fa-solid fa-cart-plus btn btn-secondary btn-sm" %> 
            <td class="text-center"> 
              <% if dispo > 0 %>
                <%= link_to '', new_article_path(commandeId: session[:commandeId], produitId: produit), 
                    class:"fa-solid fa-cart-plus btn btn-primary btn-sm" %>  
              <% else %>
              <%= link_to '', new_article_path(), 
                    class:"fa-solid fa-cart-plus btn disabled btn-primary btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

