
<h3 class="m-3", style="font-family: Arial;">EDITER ARTICLE</h3>

<% @commandeId = params[:commandeId] %>
<% @produitId = params[:produitId] %>
<% @articleId = params[:articleId] %>

<div class="m-3">
  <%= render "infosCommande" %>
</div>

<div class="m-3">
  <%= render "form", article: @article %>
</div>

<div class="card rounded m-0 p-0 mx-4 mb-2">
  <div class="card-body m-0 p-0"> 
     <%= render "sousarticles/sousarticlesLiesBis" %>

      <div class="m-2">
        <%= link_to "Auto", toggle_sousarticleauto_sousarticle_path(
              produitId: @produitId, commandeId: @commandeId, articleId: @articleId), 
              class:"btn btn-sm btn-primary my-2" %> 

        <%= render "sousarticles/nouveauSousarticle" %>
    </div>
  </div>
</div>

<div class="position-relative mx-4">
  <div class="position-absolute top-0 end-0">
    <%= link_to "Valider", commande_path(@commandeId), class:"btn btn-sm btn-success my-2" %> 
  </div>
</div>