
<h3 class="my-2", style="font-family: Arial;">EDITER ARTICLE</h3>

<% @commandeId = params[:commandeId] %>
<% @produitId = params[:produitId] %>
<% @articleId = params[:articleId] %>

<div class="m-3">
  <%= render "infosCommande" %>
</div>

<div class="m-3">
  <%= render "form", article: @article %>
</div>

<div class="card rounded m-0 p-0 mx-4">
  <div class="card-body m-0 p-0"> 
     <%= render "sousarticles/sousarticlesLiesBis" %>

      <div>
        <%= link_to "Auto", toggle_sousarticleauto_sousarticle_path(
              produitId: @produitId, commandeId: @commandeId, articleId: @articleId), 
              class:"btn btn-sm btn-primary m-1" %> 

        <%= render "sousarticles/nouveauSousarticle" %>
    </div>
  </div>

</div>