
<h1 class="my-2">Editer article</h1>

<%= render "infosCommande" %>
<%= render "form", article: @article %>
<%= render "sousarticles/sousarticlesLies" %>

<% @commandeId = params[:commandeId] %>
<% @produitId = params[:produitId] %>
<% @articleId = params[:articleId] %>

 

<div class="m-3"> 
 <%= link_to "Sous-articles auto", toggle_sousarticleauto_sousarticle_path(
      produitId: @produitId, commandeId: @commandeId, articleId: @articleId), 
      class:"btn btn-sm btn-warning" %>
  <%= link_to "Nouveau sous article", new_sousarticle_path(articleId: @article), 
      class:"btn btn-sm btn-success" %>
  <%= link_to "Retour", articles_path, class:"btn btn-sm btn-secondary" %>
</div>

