<div class="bloc-entete-model">
  <div class="card card-header entete-index">
    <strong>Nouvel article</strong>
  </div>

  <div class="card m-1">
    <%= render "infosCommande" %>
  </div>

</div>
    <div class="card m-1">
      <%= render "search" %>
    </div>

    <div class="card m-1">
      <%= render "choixCategorie" %>
    </div>

      <%# liste des produits pour selection %>
      <% unless @produitId.present? %> 
        <%= render "listeSelection" %>
      <% end %>

      <%= render "form", article: @article %>

      <% @commandeId = session[:commandeId] %>

</div>