<%= render @article %>
<div>
  <%= link_to "Editer", edit_article_path(@article), class:"btn btn-sm btn-primary" %> |
  <%= link_to "Retour", commande_path(@article.commande_id), class:"btn btn-sm btn-secondary" %>
  <%= button_to "Supprimer", @article, method: :delete, class:"btn btn-sm btn-danger", style:"margin-top: 2px" %>
</div>

<h1> sous articles</h1>
<%= render "sousarticles/listesousarticlesLies" %>
<%= link_to "Nouveau sous article", new_sousarticle_path %>

<br>
