<div id="<%= dom_id @produit %>">

<div class="bloc-record">

  <div class="mb-1">
    <div class="row g-0">
      <div class="col-4">
        <%= image_tag(@produit.default_image, class:"img-fluid rounded-start image-produit-sized-large")  %> 
      </div>
      <div class="col-8 text-center">
        <div class="card-body">
          <h5 class="card-title text-dark me-4">
            <span class="text-center text-dark">
              <%= @produit.nom %>
            </span>
            <span class="text-end">
          
            <% if @produit.vitrine == true %>
              <i class="fa-solid fa-globe iconcolor-true"></i>
            <% else %>
              <i class="fa-solid fa-globe iconcolor-false"></i>
            <% end %>
    
            <% if @produit.eshop == true %>
              <i class="fa-solid fa-cart-shopping iconcolor-true"></i>
            <% else %>
              <i class="fa-solid fa-cart-shopping iconcolor-false"></i>
            <% end %>

              </span>

          </h5>
          
          <p class="card-text text-dark"><%= @produit.description %></p>
          
          <span class="badge bg-primary"><%= @produit.categorie %></span>
          <span class="badge bg-primary"><%= @produit.taille %></span>
          <span class="badge bg-primary"><%= @produit.couleur %></span>
          <span class="badge bg-primary"><%= @produit.quantite %></span>
          <span class="badge bg-primary"><%= @produit.prix %></span>

          <div class="row g-0 my-1">
            <div class="col-6 m-0 px-4">
              <%= image_tag(@produit.qr_code, class:"rounded-startimage-qr-cb-large-sized") if @produit.qr_code.attached? %>
            </div>
            <div class="col-6 m-0 px-4">
              <%= image_tag(@produit.barcode, class:"rounded-start image-qr-cb-large-sized") if @produit.barcode.attached? %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
