<div id="<%= dom_id @produit %>">

  <div class="card mb-0 bloc-details-record">
    <div class="row g-0">
      <div class="col-4">
        <%#= image_tag(produit.image1, class:"img-fluid rounded-start image-produit-sized") if produit.image1.present? %> 
        <%= image_tag(@produit.default_image, class:"img-fluid rounded-start image-produit-sized-large")  %> 
      </div>

      <div class="col-8 ">
        <div class="card-body">
          <h6 class="card-title text-black"><%= @produit.nom %></h6>
          <p class="card-text text-dark"><%= @produit.description %></p>
          <span class="badge bg-primary"><%= @produit.categorie %></span>
          <span class="badge bg-primary"><%= @produit.taille %></span>
          <span class="badge bg-primary"><%= @produit.couleur %></span>
          <span class="badge bg-primary"><%= @produit.quantite %></span>
          <span class="badge bg-primary"><%= @produit.prix %></span>
          
        </div>
      </div>
    </div>
    
    <div class="row g-0 my-2">
            <div class="col-6 m-0 p-0">
          <%= image_tag(@produit.qr_code, class:"rounded-startimage-qr-cb-large-sized") if @produit.qr_code.attached? %>
        </div>
        <div class="col-6 m-0 p-0">
          <%= image_tag(@produit.barcode, class:"rounded-start image-qr-cb-large-sized") if @produit.barcode.attached? %>
        </div>
    </div>

    <div class="row g-0 my-2">

      <strong>Diffusion</strong>
 
          <% if @produit.vitrine == true %>
            <i class="fa-solid fa-globe iconcolor-true"></i>
          <% else %>
            <i class="fa-solid fa-globe iconcolor-false"></i>
          <% end %>
  
          <% if @produit.eshop == true %>
            <i class="fa-solid fa-cart-shopping iconcolor-true"></i>
          <% else %>
            <i class="fa-solid fa-cart-shopping iconcolor-false"></i>
          <% end %>

    </div>

    <div class="row g-0"> 
        <div class="text-end">    
            <%= button_to '', edit_produit_path(@produit), 
                class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary mb-1 p-1", 
                method: :post %> 
            <%= button_to '', produit_path(@produit), 
                class:"fa-solid fa-trash-can btn btn-danger btn-sm p-1", method: :delete %> 
        </div>
    </div>



  </div>
</div>
