
<div class="card mb-0 bloc-details-record text-dark">

  <strong> partial stock </strong>
  <% @produitId = params[:id]%>
  stock initial : <%= initial = Produit.find(@produitId).quantite %> <br> 
  nb locations : <%= locations = Article.produit_courant(@produitId).articlesLoues.compte_articles %> <br>
 
  loc terminées: <%= louesTermines = Commande.termine.joins(:articles).merge(Article.produit_courant(@produitId).articlesLoues).sum(:quantite) %> <br>
  loc à venir: <%= louesAvenir = Commande.a_venir.joins(:articles).merge(Article.produit_courant(@produitId).articlesLoues).sum(:quantite) %> <br>
 
  nb ventes : <%= ventes = Article.produit_courant(@produitId).articlesVendus.compte_articles %> <br>
  nb restant : <%= initial - locations - ventes %> <br>

  <br>
  <strong>tests sur periode loc et dispo</strong>
  
  date fin < courant : <%= Commande.termine.joins(:articles).merge(Article.produit_courant(@produitId)).sum(:quantite) %> <br>
  date fin > courant : <%= Commande.a_venir.joins(:articles).merge(Article.produit_courant(@produitId)).sum(:quantite) %> <br>

  
  loc a au 01/01/2023 : 
  <% valDate = "01/01/2023".to_date %>
  <%= Commande.a_date(valDate).joins(:articles).merge(Article.produit_courant(@produitId)).sum(:quantite) %> <br>

  loc a au 01/01/2022 : 
  <%#= Commande.a_date("11/05/2022").joins(:articles).merge(Article.produit_courant(@produitId)).sum(:quantite) %> 
  <% valDate = "01/01/2022".to_date %>
  <%= Commande.a_date(valDate).joins(:articles).merge(Article.produit_courant(@produitId)).sum(:quantite) %> <br>

  loc a au 10/11/2022 : 
  <%#= Commande.a_date("11/05/2022").joins(:articles).merge(Article.produit_courant(@produitId)).sum(:quantite) %> 
  <% valDate = "10/11/2022".to_date %>
  <%= Commande.a_date(valDate).joins(:articles).merge(Article.produit_courant(@produitId)).sum(:quantite) %> <br>




</div>