

  <table>
    <tr>
      <th colspan="3">
        <%= @produit.nom %>
      </th>
    </tr>
    <tr>
      <td class="col-image" rowspan="4">
        <%= image_tag(@produit.default_image, class:"img-fluid rounded-start image-produit-sized-large") %> 
      </td>
      <td class="description" colspan="2"><%= @produit.description %> </td>
    </tr>
    <tr>
      <td class="datas" colspan="2">
        <span>catégorie: <%= @produit.categorie %></span>
        <span>taille: <%= @produit.taille %></span>
        <span>couleur: <%= @produit.couleur %></span>
        <span>quantité: <%= @produit.quantite %></span>
        <span>prix: <%= @produit.prix %></span>
      
      </td>
    </tr>
    <tr>
      <td class="col-petite-image">
        <%= image_tag(@produit.qr_code, class:"rounded-start image-qr-cb-large-sized") if @produit.qr_code.attached? %>
      </td>
      <td class="col-petite-image">
        <%= image_tag(@produit.barcode, class:"rounded-start image-qr-cb-large-sized") if @produit.barcode.attached? %>
      </td>
    </tr>
  </table>


<style>
  table {
    width: 400px;
    border: 1px solid;
    border-color: grey;
  }
  th {
    text-align: center;
     height: 50px;
     background-color: grey;
  }

  td {
      border: 1px solid;
      border-color: grey;
  }

  .col-image {
    width: 200px;
    height: 300px;
  }

  .description {
    height: 100px;
  }

  .datas {
    height: 100px;
  }

  .col-petite-image {
    width: 100px;
    height: 100px;
  }

</style>