<div class="bloc-entete-model">
  <div class="card card-header entete-index">
    <div class="row m-0 p-0">
      <div class="col ms-1">
        <strong>Produits</strong> 
      </div>
      <div class="col">
        <span id="produit_counter" class="position-absolute top-0 start-100 
            translate-middle badge rounded-pill bg-warning text-dark">
          <%= Produit.count %>
        </span>
      </div>
    </div>
  </div> 

  <div class="m-0 p-0 text-dark">
    <%= render "search" %>  
  </div>
</div>

<div class="list-records-item">

    <div class="bloc-entete-model text-dark">
      <%= render "choixCategorie" %> 
    </div>

    <%= link_to "Nouveau", new_produit_path, data:{turbo_frame: "modal"}, 
      class:"btn btn-sm btn-warning" %>

  <%= turbo_frame_tag :modal %>

      <div id="produits">
        <%= render @produits %>
      </div>
    </div>
</div> 

