<div id="<%= dom_id label %>">
  <p>
    <strong>Principale:</strong>
    <%= label.principale %>
  </p>

  <p>
    <strong>Soiree:</strong>
    <%= label.soiree %>
  </p>

  <p>
    <strong>Mariee:</strong>
    <%= label.mariee %>
  </p>

  <p>
    <strong>Homme:</strong>
    <%= label.homme %>
  </p>

  <p>
    <strong>Accessoire:</strong>
    <%= label.accessoire %>
  </p>

  <p>
    <strong>Deguisement:</strong>
    <%= label.deguisement %>
  </p>

</div>
