
<div id="<%= dom_id commande %>">
  <% clientId = Commande.find(commande.id).client_id %>
  <div class="bloc-record">

    <div class="row">
      <div class="col-9">
        <div class="text-dark text-start mx-1 p-0">
          <span class="badge badge-record-main text-bg-primary mx-1"> <%= commande.texte_record %> </span> 
          <hr>  
       
           <span class="badge badge-record-second text-bg-secondary m-1"> <%= commande.auto_name %> </span> 
           <% if commande.info_evenement.present? %>
             <span class="badge badge-record-second text-bg-secondary m-1"> <%= commande.info_evenement %> </span>      
           <% end %>

        </div>
      </div>

      <div class="col-3 m-0 p-1 text-end">

        <%= link_to '', commande_path(commande), 
            class:"fa-regular fa-folder-open btn btn-sm btn-success mb-2" %> 
        <%= button_to "", edit_commande_path(commande), 
            class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary mb-2", method: :post %> 
        <%= button_to '', commande_path(commande), 
            class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 
      </div>
    </div>
  </div>
</div>
