<div id="<%= dom_id commande %>">

<div class="card text-bg-dark mb-3 mx-auto">
  <div class="card-header border-light">  <%= commande.nom %> </div>
    <div class="card-body">
      <p class="card-text"> client:  <%= Client.find(commande.client_id).full_name if commande.client_id.present? %> </p>
    </div>

    <div data-controller="dropdown", class="mx-3">
      <div role="button" data-action="click->dropdown#openDropdown" data-dropdown-target="openButton", 
            class="fa-solid fa-eye btn btn-primary btn-sm">
      </div>
      <div role="button" data-action="click->dropdown#closeDropdown" data-dropdown-target="closeButton", 
            class="fa-solid fa-eye-slash btn btn-primary btn-sm">
      </div>
      <div data-dropdown-target="dropdownContent">
         <p class="card-text"> info1: <%=  %></p>
      </div>
    </div>

    <div class="card-footer border-light mt-2">    
      <table>
      <tr>
        <td>
           <%= link_to "", commande_path(commande), class:"fa-regular fa-folder-open btn btn-sm btn-warning" %> 
        </td>
        <td>   
          <%= button_to "", edit_commande_path(commande), class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 
        </td>
        <td>
          <%= button_to '', commande_path(commande), class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 
        </td>
      </tr>
      </table>
    </div>
  </div>
</div>