
<div id="<%= dom_id commande %>">
  <% clientId = Commande.find(commande.id).client_id %>
  
  <div class="card mt-1 mb-1">
    <div class="card-body p-1 border border-white">
      <div class="row">
        <div class="col">
          <div class="shadow rounded text-dark text-center">
            <%= Commande.find(commande.id).full_name %>
          </div>
        </div>
        <div class="col">
          <div class="shadow rounded text-dark text-center">
            <%= Client.find(clientId).full_name %>
          </div>
        </div>
        <div class="col">
          <div class="shadow rounded text-dark text-center ">
            <%= Commande.find(commande.id).format_date %>
          </div>
        </div>
        <div class="col">
          <div class="position-relative">
            <div class="position-absolute top-0 end-0">
              <table>
                <tr>
                  <td>
                    <%= link_to "", commande_path(commande), 
                        class:"fa-regular fa-folder-open btn btn-sm btn-warning" %> 
                  </td>
                  <td>   
                    <%= button_to "", edit_commande_path(commande), 
                        class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 
                  </td>
                  <td>
                    <%= button_to '', commande_path(commande), 
                        class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div> 
  
</div>