
<div id="<%= dom_id commande %>">
  <% clientId = Commande.find(commande.id).client_id %>
  <div class="bloc-record">
    <div class="row">
      
      <div class="col-9 p-2 m-0 text-dark">
        <%= Commande.find(commande.id).texte_record %>
      </div>
      <div class="col-3 p-2 m-0 text-end">

      <%= link_to '', commande_path(commande), 
             class:"fa-regular fa-folder-open btn btn-sm btn-primary" %> 
             
      <%= button_to '', edit_commande_path(commande), 
             class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", 
             method: :post %> 

      <%= button_to '', commande_path(commande), 
             class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %>      

      </div> 
  
    </div>
  </div>
</div>