
<% clientId = Commande.find(@commande.id).client_id %>

<div class="cadre">
  <table class="table-invisible">
    <tbody>
      <tr>
        <td class="td-doc"> 
          <span>Client</span> 
          <span class="doc-important"> <%= Client.find(clientId).full_name %> </span>
        </td>
        <td class="bloc-adresse-client"> 
           <strong> <%= Client.find(clientId).full_name %> </strong>
        </td>
      </tr>
      <tr>
        <td class="td-doc"> 
            <%= Client.find(clientId).mail %> |
            <%= Client.find(clientId).tel %> 
        </td>
        <td class="bloc-adresse-client"> 
            <%= Client.find(clientId).adresse %> <br>
            <%= Client.find(clientId).ville %>   
            <%= Client.find(clientId).cp %> 
        </td>
      </tr>
    </tbody>
  </table>
</div>  
 
<br>