<div class="entete-show">
        <strong>Editions</strong> 
</div>

<div class="bloc-record text-dark">
        <% commandeId = params[:id]%>

                Choix document |
                <%= link_to "commande", toggle_edition_commande_path(commandeId, typedoc: "commande"), 
                        class:"btn btn-sm btn-secondary" %>
                <%= link_to "facture", toggle_edition_commande_path(commandeId, typedoc: "facture"), 
                        class:"btn btn-sm btn-secondary" %> <br>
                
                <% typedoc = params[:typedoc] %>

                <% if typedoc.present? %>

                        Choix édition |
                        <%= link_to "pdf", toggle_edition_commande_path(commandeId, typedoc: typedoc, typeedition: "pdf"), 
                                class:"btn btn-sm btn-primary" %>
                        <%= link_to "print", toggle_edition_commande_path(commandeId, typedoc: typedoc, typeedition: "print"), 
                                class:"btn btn-sm btn-primary" %>
                        <%= link_to "mail", toggle_edition_commande_path(commandeId, typedoc: typedoc, typeedition: "mail"), 
                                class:"btn btn-sm btn-primary" %>
                        <% typeedition = params[:typeedition] %>

                <% end %>

                <hr>
                selection active : <br>
                doc: <%= typedoc %> <br>
                edit: <%= typeedition %>
                <hr>

                <p>
                        <% commandeId = params[:id]%>
                        <% clientId = Commande.find(commandeId).client_id %>
                        <% testParamDoc = "bonCommande" %>
                        Destinaire : <%= Client.find(clientId).intitule_nom %> - 
                                        <%= Client.find(clientId).mail %> <br> 
                        Objet :  <%= "Commande #{@commande.full_name}" %> <br> 
                </p>

                <%#= link_to 'Editer', toggle_edition_commande_path(@commande, doc: testParamDoc), class:"btn btn-dark" %>

                <%# test helper commande %>
                <%= edition_pdf(@commande) %>

                <%= link_to 'test Editer pdf', generate_pdf_commande_path(),
                        class:"btn btn-dark" %>

                <%= link_to 'Editer', toggle_editer_commande_path(@commande, typedoc: typedoc, typeedition: typeedition),
                        class:"btn btn-dark" %>

</div>