<%= form_with(model: commande) do |form| %>
  <% if commande.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commande.errors.count, "error") %> 
              prohibited this commande from being saved:</h2>
      <ul>
        <% commande.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card-body with-shadow">
      <div class="input-group mb-3">
        <%= form.label :nom, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
        <%= form.text_field :nom, class:"form-control border border-secondary" %>
      </div>
      <div class="input-group mb-3">
        <%= form.label :client_id, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
        <%= form.select :client_id, Client.all.collect { |c| [ c.nom, c.id ] }, 
              include_blank: true, class:"form-control border border-secondary" %>
      </div>
      <div class="input-group mb-3">
        <%= form.label :montant, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
        <%= form.text_field :montant, value: 0, class:"form-control border border-secondary" %>  
      </div>
          <%= form.submit 'Valider', class:'btn btn-sm btn-success' %>

    </div>

<% end %>
