<%= form_with(model: commande) do |form| %>
  <% if commande.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commande.errors.count, "error") %> 
              prohibited this commande from being saved:</h2>
      <ul>
        <% commande.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="card-body bloc-record">
      <div class="input-group mb-1">
        <%= form.label :nom, class:"input-group-text label-with-format "%>
        <%= form.text_field :nom, class:"form-control field-with-format" %>
      </div>
      <div class="input-group mb-1">
        <%= form.label :client_id, class:"input-group-text label-with-format" %>
        <%#= form.select(:client_id, Client.all.collect { |c| [ c.nom, c.id ]}, 
             {include_blank: true},  class:"form-control field-with-format")  %>

         <%#= form.select: client_id, value: 96  %>
         <%#= form.select :client_id, options_for_select(Client.all.collect), html: {selected: true} %>

     
      <%= form.select :client_id, Client.all.collect { |c| [ c.nom, c.id ]}, 
            {class: 'form-control', include_blank: true, selected: @clientId} %>

      </div>
      <div class="input-group mb-1">
        <%= form.label :montant, class:"input-group-text label-with-format" %>
        <%= form.text_field :montant, value: 0, class:"form-control field-with-format" %>  
      </div>
          <%= form.submit 'Valider', class:'btn btn-sm btn-success' %>

    </div>

<% end %>
