
<div class="container">

  <% duPrix = Article.commande_courante(@commande).sum_articles + 
              Article.joins(:sousarticles).commande_courante(@commande).sum_sousarticles %> 
    
    <% duCaution = Article.commande_courante(@commande).sum_caution  %> 

        <% recuPrix = Paiement.commande_courante(@commande).prix_only.sum_paiements %> 
        <% recuCaution = Paiement.commande_courante(@commande).caution_only.sum_paiements %> 

        <% soldePrix = duPrix - recuPrix %>
        <% soldeCaution = duCaution - recuCaution %>
        
        <% if soldePrix > 0 %>
          <span class="format-synthese bg-danger">
            restant prix: <%= soldePrix %> 
          </span>
        <% else %>
          <span class="format-synthese bg-success">
            <%= "Tout est bon !" %>
          </span>
        <% end %>

        <% if soldeCaution > 0 %>
          <span class="format-synthese bg-danger">
            restant caution: <%= soldeCaution %> 
          </span>
        <% else %>
          <span class="format-synthese bg-success">
            <%= "Tout est bon !" %>
          </span>
        <% end %>

  <%= link_to "PDF", commande_path(@commande, format: :pdf), class:"btn btn-warning btn-sm p-1 mx-2" %>
    
</div>   
