
<div class="row m-0 p-0">
  <div class="col-8 text-start m-0 p-0">
    <% soldePrix = solde_prix(@commande) %>
    <% soldeCaution = solde_caution(@commande) %>

    <% if soldePrix != 0 %>
      <span title="statut prix", class="format-synthese bg-danger">
        <i class="fa-solid fa-euro-sign mx-1"></i> 
        <span class="me-1"><%= number_with_precision(soldePrix, precision: 0) %> </span> 
     
      </span>
    <% else %>
      <span title="statut prix", class="format-synthese bg-success">
        <i class="fa-solid fa-euro-sign mx-1"></i> 
        <span class="me-1">OK</span>
      </span>
    <% end %>

    <% if soldeCaution != 0 %>
      <span title="statut caution", class="format-synthese bg-danger">
        <i class="fa-solid fa-money-check mx-1"></i>
        <span class="me-1"><%= number_with_precision(soldeCaution, precision: 0) %> </span> 
      </span>
    <% else %>
      <span title="statut caution", class="format-synthese bg-success">
        <i class="fa-solid fa-money-check mx-1"></i>
        <span class="me-1">OK</span>
      </span>
    <% end %>
    
    <% statutCommande = Commande.find(@commande.id).statutarticles %>
    <% if statutCommande == "non-retiré" %>
      <span title="statut non-retiré", class="format-synthese bg-danger ">
        <i class="fa-solid fa-shirt mx-1"></i>
        <span class="me-1"> <%= statutCommande  %> </span> 
      </span>
    <% end %>
    <% if statutCommande == "retiré" %>
      <span title="statut retiré", class="format-synthese bg-warning">
        <i class="fa-solid fa-shirt mx-1"></i>
        <span class="me-1"> <%= statutCommande  %> </span> 
      </span>
    <% end %>
    <% if statutCommande == "rendu" %>
      <span title="statut rendu", class="format-synthese bg-success">
        <i class="fa-solid fa-shirt mx-1"></i>
        <span class="me-1"> <%= statutCommande  %> </span> 
      </span>
    <% end %>
  </div>

  <div class="col-4 text-end m-0 p-0">

    <%#= link_to "", commande_path(format: :pdf), class:"fa-solid fa-file-export btn btn-sm btn-primary" %> 
    <%#= link_to '', send_commande_mail_commande_path(@commande.id),class:"fa-solid fa-at btn btn-sm btn-warning" %>
  
    <div class="btn-group">
      <button type="button" class="small-icon btn btn-primary btn-sm dropdown-toggle" 
              data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-file-invoice"></i>
      </button>
      <% typedoc = "commande" %>
      <% session[:typedoc] = typedoc %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'pdf commande', editer_pdf_commande_path(typedoc: typedoc),
                class:"dropdown-item" %>
        </li>
        <li>
          <%= link_to 'mail commande', send_commande_mail_commande_path(typedoc: typedoc), 
                class:"dropdown-item" %>
        </li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="small-icon btn btn-success btn-sm dropdown-toggle" 
              data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-receipt"></i>
      </button>
      <% typedoc = "facture" %>
      <% session[:typedoc] = typedoc %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'pdf facture', editer_pdf_commande_path(typedoc: typedoc), 
                class:"dropdown-item" %>
        </li>
        <li>
          <%= link_to 'mail facture', send_commande_mail_commande_path(typedoc: typedoc), 
            class:"dropdown-item" %>
        </li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="small-icon btn btn-warning btn-sm dropdown-toggle" 
              data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-receipt"></i>
      </button>
      <% typedoc = "facture_simple" %>
      <% session[:typedoc] = typedoc %>

      <ul class="dropdown-menu">
        <li>
          <%= link_to 'pdf facture simple', editer_pdf_commande_path(typedoc: typedoc), 
              class:"dropdown-item" %>
        </li>
        <li>
          <%= link_to 'mail facture simple', send_commande_mail_commande_path(typedoc: typedoc), 
              class:"dropdown-item" %>
        </li>
      </ul>
    </div>
  </div>

</div>
