
<div id="synthese" class="container">

  <% duPrix = Article.commande_courante(@commande).sum_articles + 
              Article.joins(:sousarticles).commande_courante(@commande).sum_sousarticles %> 
    
    <% duCaution = Article.commande_courante(@commande).sum_caution  %> 

        <% recuPrix = Paiement.commande_courante(@commande).prix_only.sum_paiements %> 
        <% recuCaution = Paiement.commande_courante(@commande).caution_only.sum_paiements %> 

        <% soldePrix = duPrix - recuPrix %>
        <% soldeCaution = duCaution - recuCaution %>
        
        <% if soldePrix > 0 %>
          <span class="format-synthese bg-danger ">
           <i class="fa-solid fa-euro-sign mx-2"></i> <%= number_to_currency(soldePrix, locale: :fr)  %> 
          </span>
        <% else %>
          <span class="format-synthese bg-success">
            <i class="fa-solid fa-euro-sign mx-2"></i> OK
          </span>
        <% end %>

        <% if soldeCaution > 0 %>
          <span class="format-synthese bg-danger ">
           <i class="fa-solid fa-money-check mx-2"></i> <%= number_to_currency(soldeCaution, locale: :fr)  %> 
          </span>
        <% else %>
          <span class="format-synthese bg-success">
            <i class="fa-solid fa-money-check mx-2"></i> OK
          </span>
        <% end %>

        <% statutCommande = Commande.find(@commande.id).statutarticles %>
        <% if statutCommande == "non-retiré" %>
          <span class="format-synthese bg-danger ">
           <i class="fa-solid fa-shirt mx-2"></i> <%= statutCommande  %> 
          </span>
        <% end %>
        <% if statutCommande == "retiré" %>
          <span class="format-synthese bg-warning">
            <i class="fa-solid fa-shirt mx-2"></i>  <%= statutCommande  %> 
          </span>
        <% end %>
        <% if statutCommande == "rendu" %>
          <span class="format-synthese bg-success">
            <i class="fa-solid fa-shirt mx-2"></i>  <%= statutCommande  %> 
          </span>
        <% end %>


  <%= link_to "PDF", commande_path(@commande, format: :pdf), class:"btn btn-light btn-sm m-0 p-0 mx-2 text-end" %>
    
</div>   
