
<!DOCTYPE html>

<meta charset="UTF-8">
  <%= wicked_pdf_stylesheet_link_tag "application" %>

<%= render "shared/enteteDoc" %>
<br>
<h4> 
  <%= typedoc = params[:typedoc] %> 
  <%= Commande.find(@commande.id).texte_record %> <br>
</h4>

<%= render "commandes/docInfosCommande" %>

<%= render "commandes/docInfosClient" %>

<%= render "commandes/docListeArticles" %>
<%= render "commandes/docListePaiements" %>
<%= render "commandes/docListeAvoirrembs" %>
<%= render "commandes/docListeSynthese" %>