
<!DOCTYPE html>

<meta charset="UTF-8">
  <%= wicked_pdf_stylesheet_link_tag "application" %>

<%= render "shared/enteteDoc" %>

<h5 style="font-size: 50px;"> 

 
 <% if @typedoc %>
  <%= @typedoc %>
<% else %>
  <%= typedoc = params[:typedoc] %> 
 <% end %>
</h5>

<%= render "commandes/docInfosCommande" %>
<%= render "commandes/docListeArticles" %>
<%= render "commandes/docListePaiements" %>
<%= render "commandes/docListeAvoirrembs" %>
<%= render "commandes/docListeSynthese" %>