
<!DOCTYPE html>

<meta charset="UTF-8">
  <%= wicked_pdf_stylesheet_link_tag "application" %>

  <%= render "shared/enteteDoc" %>
  <br>

  <h4 class="h4-doc"> 
    <% if @typedoc %>
      <%= @typedoc %>
    <% else %>
      <%= typedoc = params[:typedoc] %> 
    <% end %>
    <%= Commande.find(@commande.id).texte_record %> <br>
  </h4>
  <br>

  <%= render "commandes/docInfosCommande" %>

  <%= render "commandes/docInfosClient" %>

  <%= render "commandes/docListeArticles" %> <br>
  <%= render "commandes/docListePaiements" %> <br>
  <%= render "commandes/docListeAvoirrembs" %> <br>
  <%= render "commandes/docListeSynthese" %> 