
<div class="bloc-entete-model sticky-top" style="top: 5px; bottom: 5px;">
  <div class="card card-header entete-index">
    <div class="row m-0 p-0">
      <div class="col ms-1">
        <strong>Commandes</strong> 
      </div>
      <div class="col">
        <span class="badge rounded-pill counter-model-dashboard"><%= Commande.count %></span>
      </div>
    </div>
  </div> 
  
  <div class="mb-1">
    <%= render "search" %>
  </div>

</div>

 <div class="">

  <%= turbo_frame_tag :modal %>
  
</div>
  
<div class="list-records-item">
  <div id="commandes">
    <%= render @commandes %>
  </div>
</div> 

<footer class="fixed-bottom text-end m-2">
  <div class="badge bg-dark">
    <%== pagy_nav(@pagy) %>
  </div>
</footer>
