
<div class="card text-light m-1 border border-dark">
  <div class="card-header bg-black text-center">
    <strong>Commande</strong> 
  </div>
  <div class="card-body"> 
    <%= render @commande %> 
  </div>
</div>

<%= render "listeArticles" %>
<%#= render "listePaiements" %>

<div class="card text-bg-dark m-2">
  <div class="card-header bg-black text-center"> 
    <strong>Paiements</strong> 
  </div>
  <div class="card-body bg-light"> 
    <%= render @paiements %>
  </div>
  <div class="card-footer bg-black border-light">
    <%= render "nouveauPaiement" %>
  </div>
</div>

<%= render "syntheseCommande" %>
