
<div class="bloc-entete-model">
  <div class="card card-header entete-index">
    <div class="row m-0 p-0">
      <div class="col-6 text-start mt-1">
        <strong> Commande </strong>
      </div>
      <div class="col-6 text-end mt-1">
        <%= render "toggles_statut" %>
      </div>
    </div>
  </div>
  <div class="">
    <%= render @commande %> 
  </div>
</div>

    <div class="entete-show">
      <strong class="">Client</strong> 
    </div>
      <%= render @client %>  

    <div class="entete-show">
      <strong>Articles</strong> 
    </div>

      <%= render "listeArticles" %>

    <div class="entete-show">
      <strong>Paiements</strong> 
    </div>

    <div class="">
      <%= render @paiements %>
      <%= render "nouveauPaiement" %> <br>
    </div>    

    <div class="entete-show">
      <strong>Avoir Remboursements</strong> 
    </div>

    <div class="">
      <%= render @avoirrembs %>
      <%= render "nouveauAvoirremb" %> <br><br> <br>

    </div>    

    <div class="">
      <%= render "editions" %>
    </div>




<div class="fixed-bottom footer-index bg-dark">
  <%= render "syntheseCommande" %> 
</div>

