
<div class="card text-light p-0 border border-dark m-4">
  <div class="card-header bg-black text-center p-1">
    <strong>Commande</strong> 
  </div>
  <div class="card-body p-1"> 
    <%= render @commande %> 
  </div>
</div>

<%= render "listeArticles" %>
<%#= render "listePaiements" %>

<div class="card text-light p-0 border border-dark mx-4">
  <div class="card-header bg-black text-center p-1"> 
    <strong>Paiements</strong> 
  </div>
  <div class="card-body bg-light m-1 p-0"> 
    <%= render @paiements %>
  </div>
  <div class="card-footer bg-dark border-light p-1">
    <%= render "nouveauPaiement" %>
  </div>
</div>

<%= render "syntheseCommande" %>