
<div class="bloc-entete-model sticky-top" style="top: 0px; bottom: 0px;">
  <div class="card card-header entete-index">
    <div class="row m-0 p-0">
      <div class="col-6 text-start">
        <strong> Commande </strong>
      </div>
      <div class="col-6 text-end">
        <%= render "toggles_statut" %>
      </div>
    </div>
  </div>
  <div class="">
    <%= render @commande %> 
  </div>
</div>

    <div class="entete-show">
      <strong>Client</strong> 
    </div>
      <%= render @client %> 


    <div class="entete-show">
      <strong>Articles</strong> 
    </div>

      <%= render "listeArticles" %>

    <div class="entete-show">
      <strong>Paiements</strong> 
    </div>

    <div class="">
      <%= render @paiements %>
      <%= render "nouveauPaiement" %> <br><br>
    </div>    

    <div class="entete-show">
      <strong>Avoir Remboursements</strong> 
    </div>

    <div class="">
      <%= render @avoirrembs %>
      <%= render "nouveauAvoirremb" %> <br><br>
    </div>    




<div class="footer-index sticky-bottom m-0 p-1">
  <%= render "syntheseCommande" %> 
</div>



