


<div class="list-records-item">

    <div class="entete-show sticky-top" style="top: 5px;">
      <strong>Commande</strong> 
    </div>
      <%= render @commande %> 

    <div class="entete-show">
      <strong>Client</strong> 
    </div>
      <%= render @client %> 


    <div class="entete-show">
      <strong>Articles</strong> 
    </div>

      <%= render "listeArticles" %>

    <div class="entete-show">
      <strong>Paiements</strong> 
    </div>

    <div>
      <%= render @paiements %>
      <%= render "nouveauPaiement" %>
    </div>    

</div>

    <div class="d-flex align-items-center justify-content-center container footer">
      <%= render "syntheseCommande" %> 
    </div>

