


<div class="list-records-item">
  <div class="sticky-top" style="top: 5px;">
    <div class="entete-show">

      <div class="row">
        <div class="col">
          <strong>Commande</strong>
        </div>
        <div class="col text-end">

          <%= render "toggles_statut" %>

        </div>
      </div>
    </div>


      <%= render @commande %> 
  </div>

    <div class="entete-show">
      <strong>Client</strong> 
    </div>
      <%= render @client %> 


    <div class="entete-show">
      <strong>Articles</strong> 
    </div>

      <%= render "listeArticles" %>

    <div class="entete-show">
      <strong>Paiements</strong> 
    </div>

    <div class="">
      <%= render @paiements %>
      <%= render "nouveauPaiement" %> <br><br>
    </div>    

</div>

    <div class="d-flex align-items-center justify-content-center container footer">
      <%= render "syntheseCommande" %> 
    </div>

