
<div class="container-fluid m-0 p-0 mt-2 container-dashboard">
  <div class="list-long-blocs-commande">

    <div class="entete-show">
      <strong>Commande</strong> 
    </div>
      <%= render @commande %> 

    <div class="entete-show">
      <strong>Client</strong> 
    </div>
      <%= render @client %> 


    <div class="entete-show">
      <strong>Articles</strong> 
    </div>

      <%= render "listeArticles" %>

    <div class="entete-show">
      <strong>Paiements</strong> 
    </div>

      <%= render @paiements %>
      <%= render "nouveauPaiement" %>
 

    <div class="entete-show my-1">
      <strong>Synthèse</strong> 
    </div>
      <%= render "syntheseCommande" %> 

  </div>

</div>