<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">

        <%= link_to image_tag('logo.jpg', class: 'fit-image rounded-circle text-center'), accueil_admin_path %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        

                <%#= link_to "accueil", accueil_admin_path, class:"btn fa iconcolor fa-house"%>

                <a class="nav-link m-1 p-1">
                    <%= link_to " Accueil", accueil_admin_path, class:"btn fa iconcolor fa-house"%>
                </a>
                <a class="nav-link m-1 p-1 ">
                    <%= link_to " Clients", clients_path, class:"btn fa iconcolor fa-user"%>
                </a>
                <a class="nav-link m-1 p-1 ">
                    <%= link_to " Produits", produits_path, class:"btn fa iconcolor fa-shirt"%>
                </a>
                <a class="nav-link m-1 p-1 ">
                    <%= link_to " Commandes", commandes_path, class:"btn fa iconcolor fa-file-invoice"%>
                </a>
                <a class="nav-link m-1 p-1 ">
                    <%= link_to " Calendrier", accueil_admin_path, class:"btn fa iconcolor fa-calendar"%>
                </a>
                <a class="nav-link m-1 p-1 ">
                    <%= link_to " Analyses", analyses_path, class:"btn fa iconcolor fa-chart-line"%>
                </a>
                <a class="nav-link m-1 p-1 ">
                    <%= link_to " Marketing", marketing_path, class:"btn fa iconcolor fa-bullhorn"%>
                </a>
                <a class="nav-link m-1 p-1 ">
                    <%= button_to "", destroy_user_session_path, method: :delete, 
                    class:"btn btn-sm btn-danger fa-solid fa-right-from-bracket" %>
                </a>

            </div>
        </div>
    </div>
</nav>

