
<div class="container-fluid text-center">

      <%= link_to "Robes de Soirées", 'robes_soirees', class:"btn btn-sm btn-categorie" %>

       <%= link_to "Robes de Mariées", 'robes_mariees', class:"btn btn-sm btn-categorie" %>

       <%= link_to "Costumes Hommes", 'costumes_hommes', class:"btn btn-sm btn-categorie" %>

       <%= link_to "Accessoires", 'accessoires', class:"btn btn-sm btn-categorie" %>

       <%= link_to "Costumes & Déguisements", 'costumes_deguisements', class:"btn btn-sm btn-categorie" %>
    </div>

</div>
    