<div id="<%= dom_id client %>">

  <div class="bloc-record">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-10 text-dark">  
 
             <%= client.nom %> 
             <%= client.mail %>
       
        </div>
        <div class="col-2 text-dark">
          <div class="position-relative">
            <div class="position-absolute end-0">
              <table>
                <tr>
                  <td>   
                    <%= link_to "", client_path(client), class:"fa-regular fa-folder-open btn btn-sm btn-success" %> 
                  </td>
                  <td>   
                    <%= button_to "", edit_client_path(client), class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 
                  </td>
                  <td>
                    <%= button_to '', client_path(client), class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div data-controller="dropdown", class="mx-3">
        <div role="button" data-action="click->dropdown#openDropdown" data-dropdown-target="openButton", class="fa-solid fa-eye btn btn-primary btn-sm">
        </div>
        <div role="button" data-action="click->dropdown#closeDropdown" data-dropdown-target="closeButton", class="fa-solid fa-eye-slash btn btn-primary btn-sm">
        </div>
        <div data-dropdown-target="dropdownContent">
          <p class="text-dark m-0">
            <%= client.commentaires %>
          </p>  

        <% if Commande.client_courant(client).present? %>
            <div class="card border border-dark text-dark"> 
                <table class="table table-striped table-light table-hover", style="line-height: 0.5">
                  <% Commande.client_courant(client).each do |c| %>
                    <tr>
                      <td> <%= c.texte_record %> </td>
                    </tr>
                  <% end %>
                </table>
              
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>