
<div class="bloc-entete-model">
  <div class="card card-header entete-index">
    <div class="row m-0 p-0">
      <div class="col ms-1">
        <strong>Clients</strong> 
      </div>
      <div class="col">
        <span id="client_counter" class="position-absolute top-0 start-100 
            translate-middle badge rounded-pill bg-warning text-dark">
          <%= Client.count %>
        </span>
      </div>
    </div>
  </div> 
  
  <div class="mb-1">
    <%= render "search" %>
  </div>
</div>
    
<div class="list-records-item">

  <%= link_to "Nouveau", new_client_path, data:{turbo_frame: "modal"}, 
      class:"btn btn-sm btn-warning" %>

  <%= turbo_frame_tag :modal %>

  <div id="clients">
    <%= render @clients %>
  </div>
  
  <div class="text-dark">

    <%#== pagy_next_link(@pagy, text: 'More...', link_extra: 'id="next_link"') %>

    <div id="load_more_button">
      <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next) %>
    </div>

  </div>

</div> 

