
<div class="bloc-entete-model sticky-top" style="top: 5px; bottom: 0px;">
  <div class="card card-header entete-index">
    <div class="row m-0 p-0">
      <div class="col ms-1">
        <strong>Clients</strong> 
      </div>
      <div class="col">
        <span class="badge rounded-pill counter-model-dashboard"><%= Client.count %></span>
      </div>
    </div>
  </div> 
  
  <div class="mb-1">
    <%= render "search" %>
  </div>
</div>
    
 <div class="">
  <%= turbo_frame_tag :modal %>
</div>

  
<div class="list-records-item">
  <div id="clients">
    <%= render @clients %>
  </div>
</div>

<footer class="fixed-bottom text-end m-2">
  <div class="badge bg-dark">
    <%== pagy_nav(@pagy) %>
  </div>
</footer>

