<% if user_signed_in? %>

  <div class="bloc-entete-model">
    <div class="card card-header entete-index">
      <div class="row m-0 p-0">
        <div class="col ms-1">
          <strong>Clients</strong> 
        </div>
        <div class="col">
          <span class="badge rounded-pill counter-model-dashboard"><%= Client.count %></span>
        </div>
      </div>
    </div> 



    <div class="header-model-body mb-1">
      <%= render "search" %>
    </div>


    <%= search_form_for @q, data: {turbo_frame: :results} do |f| %>
      <%= f.label :nom_or_prenom_or_mail_cont %>
      <%= f.search_field :nom_or_prenom_or_mail_cont, 
                          oninput: 'this.form.requestSubmit()',
                          autofocus: true, 
                          autocomplete: 'off' %>
      <%#= f.submit %>
    <% end %>


  </div>
      
  <div class="">
    <%= turbo_frame_tag :modal %>
  </div>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
    <div class="my-2">
      <div id="clients">

      </div> <br> <br>
    </div>

     <%= turbo_frame_tag :pagination, loading: :lazy, 
                      src: clients_path(format: :turbo_stream,
                      q: params[:q]&.to_unsafe_h) %>

<% end %>




  <div class="fixed-bottom footer-index text-center bg-dark">
      <div class="row justify-content-evenly">
        <div class="col-4 text-start">
          <%= link_to "", clients_path, class:"fa-solid fa-rotate-left btn btn-sm btn-secondary" %> 
        </div>
        <div class="col-4 text-center">
          <div class="badge bg-dark">
            <%#== pagy_nav(@pagy) %>
          </div>
        </div>
        <div class="col-4 text-end">
          <%= link_to "", clients_path, class:"fa-solid fa-file-export btn btn-sm btn-primary" %> 
        </div>
      </div>
  </div>
<% end %>