<div id="<%= dom_id modelsousarticle %>">
  <p>
    <strong>Nature:</strong>
    <%= modelsousarticle.nature %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= modelsousarticle.description %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= modelsousarticle.prix %>
  </p>

  <p>
    <strong>Caution:</strong>
    <%= modelsousarticle.caution %>
  </p>

</div>
