<div id="<%= dom_id texte %>">
  <p>
    <strong>Titre:</strong>
    <%= texte.titre %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= texte.content %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= texte.contact %>
  </p>

    <p>
    <strong>Horaire:</strong>
    <%= texte.horaire %>
  </p>

    <p>
    <strong>Boutique:</strong>
    <%= texte.boutique %>
  </p>


</div>
