
<%= form_with(model: sousarticle) do |form| %>
  <% if sousarticle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sousarticle.errors.count, "error") %> prohibited this sousarticle from being saved:</h2>

      <ul>
        <% sousarticle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body bloc-record">
    <div>
      <% form.label :article_id, style: "display: block" %>
      <%#= form.select :article_id, Article.all.collect { |a| [ a.id, a.id ] },  include_blank: true %>
      <%= form.hidden_field(:article_id, value: @articleId) %>
    </div>

      <div data-controller="form-element"> 
        <%= form.button "Validate", formaction: new_sousarticle_path(article_id: @articleId), 
                        formmethod: :get, data: { turbo_frame: :prix_sousarticle_field, form_element_target: "submitbtn" } %>
        <div class="input-group mb-3">
            <%= form.label :nature, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
            <%= form.select :nature,  @natures, {include_blank: true}, 
                { data: { action: "change->form-element#remotesubmit"},  
                  class:"form-control"} %>
        </div>
      </div>

        <%= turbo_frame_tag :prix_sousarticle_field do %>
          <% natureSousArticle = form.object.nature %>
            <% if natureSousArticle.present? %>
              <% iDmodelSousArticle = Modelsousarticle.where(nature: natureSousArticle).first.id %>
              <% valPrixSousArticle = Modelsousarticle.find(iDmodelSousArticle).prix %>
              <% valDescriptionSousArticle = Modelsousarticle.find(iDmodelSousArticle).description %>

          <div class="input-group mb-3">
            <%= form.label :prix, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
            <%= form.number_field :prix_sousarticle, value:  valPrixSousArticle, class:"form-control" %>
          </div>
        
          <div class="input-group mb-3">
            <%= form.label :description, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
            <%= form.text_field :description, value: valDescriptionSousArticle, class:"form-control" %>
          </div>
            <div class="input-group mb-3">
            <%= form.label :caution, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
            <%= form.number_field :caution, class:"form-control" %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :taille, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
            <%= form.text_field :taille, class:"form-control" %>
          </div> 
            
          <div> 
            <%= form.submit "Créer", class: 'btn btn-sm btn-success' %>
          </div>
        <% end %>
      <% end %>
    
  </div>
<% end %>
