<div id="<%= dom_id sousarticle %>">

  <div class="card text-bg-dark border-secondary mb-2" style="max-width: 55rem;">
    <div class="card-header bg-black border-dark"> 
      <div class="card-title">
        <div class="row">
          <div class="col">
             <%= sousarticle.nature %> 
          </div>
          <div class="col">
            <div class="position-relative">
              <div class="position-absolute top-0 end-0">
                 Prix: <%= sousarticle.prix_sousarticle %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">

            <div class="col">
              <div class="card-text"> 
                <div class="position-relative">
                  <div class="position-absolute top-0 end-0">
                    <%= button_to "", edit_sousarticle_path(sousarticle, articleId: sousarticle.article_id), 
                      class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 
                    <%= button_to '', sousarticle_path(sousarticle), 
                      class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 
                  </div> 
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-controller="dropdown", class="m-2">
        <div role="button" data-action="click->dropdown#openDropdown" data-dropdown-target="openButton", class="fa-solid fa-eye btn btn-primary btn-sm">
        </div>
        <div role="button" data-action="click->dropdown#closeDropdown" data-dropdown-target="closeButton", class="fa-solid fa-eye-slash btn btn-primary btn-sm">
        </div>
        <div data-dropdown-target="dropdownContent">
          <p class="card-text"> Description: <%= sousarticle.description %></p>
          <p class="card-text"> caution: <%= sousarticle.caution %></p>
          <p class="card-text"> taille: <%= sousarticle.taille %></p>
        </div>
      </div>
    </div>
  </div>
</div>