

<div class="row p-0 m-0">
  <div class="col-6 p-0">
    <div class="bloc-dashboard">
      <%= render "blocClients" %>
    </div>
    <div class="bloc-dashboard">
      <%= render "blocProduits" %>
    </div>
    <div class="bloc-dashboard">
     <%= render "blocCommandes" %>
    </div>
  </div>
  <div class="col-6 p-0">
    <div class="bloc-dashboard">
     <%= render "blocCalendrier" %>
    </div>
    <div class="bloc-dashboard">
      <%= render "blocAnalyses" %>
    </div>
    <div class="bloc-dashboard">
      <%= render "blocMarketing" %>
    </div>
  </div>
</div>

<div class="bloc-large-dashboard">
  testdashborad long
</div>
