
<div class="container-fluid p-1">
  <div class="row">
    <div class="col-sm-3">
      <%= render "clients/liste" %>
    </div>    
    <div class="col-sm-6">
     <h5 class="bg-dark text-center"> Menu</h5>
       <div class="row row-cols-2">
        <div class="d-grid gap-2">
          <div class="bg-dark text-center pt-2">
            <%= link_to image_tag("icons/clients_ico.png", border: 0, width: 40), 
                  clients_path, class:"img-fluid rounded-start" %> 
            <h6 class="bg-dark text-center pt-2"> Clients</h6>
            <p><small class="text-muted"> nb: <%= Client.count %></small></p>
          </div>
          <div class="bg-dark text-center pt-2">
            <%= link_to image_tag("icons/produits_ico.png", border: 0, width: 40), 
                  produits_path, class:"img-fluid rounded-start" %> 
            <h6 class="bg-dark text-center pt-2"> Produits</h6>
            <p><small class="text-muted"> nb: <%= Produit.count %></small></p>
          </div>
          <div class="bg-dark text-center pt-2">
            <%= link_to image_tag("icons/commandes_ico.png", border: 0, width: 40), 
                  commandes_path, class:"img-fluid rounded-start" %> 
            <h6 class="bg-dark text-center pt-2", style="font-size: 12px"> Commandes</h6>
            <p><small class="text-muted"> nb: <%= Commande.count %></small></p>
          </div>
        </div>
        <div class="d-grid gap-2">
          <div class="bg-dark text-center pt-2">
            <%= link_to image_tag("icons/calendrier_ico.png", border: 0, width: 40), 
                  root_path, class:"img-fluid rounded-start" %> 
            <h6 class="bg-dark text-center pt-2", style="font-size: 12px"> Calendrier</h6>
            <p><small class="text-muted"> nb: <%#= Client.count %></small></p>
          </div>
          <div class="bg-dark text-center pt-2">
            <%= link_to image_tag("icons/finances_ico.png", border: 0, width: 40), 
                  root_path, class:"img-fluid rounded-start" %> 
            <h6 class="bg-dark text-center pt-2"> Finances</h6>
            <p><small class="text-muted"> nb: <%#= Client.count %></small></p>
          </div>
          <div class="bg-dark text-center pt-2">
            <%= link_to image_tag("icons/marketing_ico.png", border: 0, width: 40), 
                  marketing_path, class:"img-fluid rounded-start" %> 
            <h6 class="bg-dark text-center pt-2", style="font-size: 12px"> Marketing</h6>
            <p><small class="text-muted"> nb: <%#= Client.count %></small></p>
          </div>
        </div>
       </div>
     </div>

      <div class="col-sm-3">
        <%= render "clients/liste" %>
      </div>

  <div class="text-center my-4 p-2">
    <%= link_to "Site Vitrine", root_path, class:"btn btn-sm btn-outline-warning mx-4" %>
    <%= link_to "Lien2", root_path, class:"btn btn-sm btn-outline-warning mx-4" %>
    <%= link_to "Lien3", root_path, class:"btn btn-sm btn-outline-warning mx-4" %>
  </div>
</div>
