<div class="bloc-entete-model sticky-top" style="top: 5px; bottom: 0px;">
  <div class="card card-header entete-index">
    <strong>Analyses</strong> 
  </div> 
</div>
    
<div class="bloc-record">
  <div class="card-body text-dark">
    <strong>Commandes</strong> 
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-md-4 col-sm-12">
              <%= render "charts/chartPieCommandes" %>
        </div>
        <div class="col-md-4 col-sm-12">
              <%= render "charts/chartBarCommandes" %>
        </div>
        <div class="col-md-4 col-sm-12">
              <%= render "charts/chartLineCommandes" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bloc-record">
  <div class="card-body text-dark">
    <strong>Articles</strong> 
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-md-4 col-sm-12">
              <%= render "charts/chartPieArticles" %>
        </div>
        <div class="col-md-4 col-sm-12">
              <%= render "charts/chartBarArticles" %>
        </div>
        <div class="col-md-4 col-sm-12">
              <%= render "charts/chartLineArticles" %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="bloc-record">
  <div class="card-body text-dark">
    <strong>CA</strong> 
    total: <%= Article.sum_articles + Sousarticle.sum_sousarticles %>
    location: <%= Article.articlesLoues.sum_articles + Sousarticle.sum_sousarticles %>
    <%# en l'etat les sous articles passent que à la vente dans le calcul%>
    vente: <%= Article.articlesVendus.sum_articles  %>
  </div>
</div>

<footer class="fixed-bottom text-end m-2">
  <div class="badge bg-dark">
   footer
  </div>
</footer>