
<div class="bloc-entete-model">
  <div class="card card-header entete-index">
    <div class="row m-0 p-0">
      <div class="col ms-1">
        <strong>Stocks</strong> 
      </div>
      <div class="col">
        <span id="produit_counter" class="position-absolute top-0 start-100 
            translate-middle badge rounded-pill bg-warning text-dark">
          <%= @produits.sum(:quantite) %> 
        </span>
      </div>
    </div>
  </div> 

</div>

<div class="list-records-item-produits">
  <div class="bloc-record text-dark">
    nb produits : <%= total = @produits.sum(:quantite) %> <br>

    <%# to do 
        chercher le nb d'articles loués
        idem vendus 
        faire soustraction
    %>
    nb produits loués : <%= loues = Article.articlesLoues.compte_articles %><br>
    nb produits vendus : <%= vendus = Article.articlesVendus.compte_articles %><br>
    nb produits restants : <%= restant = total - loues - vendus %><br>
  </div>
</div> 


 <div class="card card-footer footer-index">
  <div class="row m-0 p-0">
     
    <div class="col-6">
       item1
       item2
       item3
    </div>
    <div class="col-6">
      <div class="position-relative">
        <div class="position-absolute end-0">
          <div class="badge bg-dark">
            <%== pagy_nav(@pagy) %>
          </div>
        </div>
       </div>
    </div>
  </div>
</div> 