
<%= form_with(model: paiement) do |form| %>
  <% if paiement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paiement.errors.count, "error") %> prohibited this paiement from being saved:</h2>
      <ul>
        <% paiement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div>
   <% form.label :commande_id, style: "display: block" %>
   <%= form.hidden_field(:commande_id, value: @commandeId) %>
 </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.select(:typepaiement, Paiement.typePaiements.keys, {include_blank: true}) %>
  </div>
  <div>
    <%= form.label :montant, style: "display: block" %>
    <%= form.text_field :montant %>
  </div>

  <div> <br>
    <%= form.submit "Créer", class: 'btn btn-success' %>
  </div>
<% end %>