    <table class="table table-responsive m-0 p-0">
      <td class="text-center align-middle m-0 p-0"> 
            <%= link_to image_tag("icons/contact_ico.png", class:"img-max"), "contact" %> <br>
            <%= link_to "Contact", "contact", class:"fs-7", style:"color: rgb(204, 46, 102)" %>
      </td>
      <td class="text-center align-middle m-0 p-0">  
        <%= link_to image_tag("logo1.png", class:"img-big"), root_path %>
      </td>
      <td class="text-center align-middle m-0 p-0">
        <%= link_to image_tag("icons/eshop.png", class:"img-max"), root_path %> <br>
        <%= link_to "shop", root_path, class:"fs-7", style:"color: rgb(204, 46, 102)" %>
      </td>
    </table>
