<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>A1soir admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Option 1: Include in HTML -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://kit.fontawesome.com/ab64641e90.js" crossorigin="anonymous"></script>



    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    

    <%= favicon_link_tag asset_path('logo3.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body class="body-main m-1 p-1">
    
    <div class="row p-0 m-0">
      <div class="col-2 p-0 m-0">
       
        <%= render partial: "shared/navbarDashboard" %>
        <%#= render partial: "shared/navbarDashboardModel" %>

      </div>
      <div class="col-10 p-0 m-0">
       <main> 
        <div id="flash" style="position:absolute; z-index: 2; right: 10px;">
          <%= render partial: "layouts/flash" %>
        </div>

          <%= yield %>
       
        </main>
      </div> 
    </div>

  </body>

</html>
